
@import "alignment";

body {
  @extend %centered;
}

nav{ 
  display: flex;
}

.current {
    color: green;
}

.mobile-hidden {
  display: none;
}

$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
  .mobile-hidden{
    display: flex;
  }
}