$home-header-primary-color:white;
$home-header-z-index: 2;
$home-triangle-border-width: 48vw;
$home-triangle-height: 8vh;
$home-triange-shadow-color: lightgrey;

.rounded {
    border-radius: 50%;
}

.traingle-bottom {
    border-left: solid $home-triangle-border-width transparent;
    border-right: solid $home-triangle-border-width transparent;
    border-top: solid $home-triangle-height $home-header-primary-color;
    z-index: $home-header-z-index;
    float: left;
    position: relative;
}

.polygon-shadow-left-bottom {
    height: 2px;
    border-bottom: solid $home-triangle-height transparent;
    z-index: 1;
    position: absolute;
    border-right: solid $home-triangle-border-width $home-triange-shadow-color;
    filter: drop-shadow(-16px -3px 7px $home-triange-shadow-color);
}

.polygon-shadow-right-bottom {
    height: 2px;
    border-bottom: solid 8vh transparent;
    z-index: 1;
    position: absolute;
    border-left: solid 48vw lightgrey;
    left: 50vw;
    filter: drop-shadow(16px -3px 7px lightgrey);
}