$primary-color:rgb(245, 245, 245);

.rounded {
    border-radius: 50%;
}

.traingle-bottom {
    border-left: solid 48vw transparent;
    border-right: solid 48vw transparent;
    border-top: solid 10vh $primary-color;
}

//rgb(220, 241, 255);