---
---

// Variables
$base-px: 8px;
$breakpoint: 768px;
$breakpoint-max: $breakpoint - 1px;

// Colours
$background: #f7fbfb;
$background-2: #eaf5f5;
$background-3: #bbd8d8;
$primary: white;
$primary-2: #cccce1;
$white: #fff;

// Font stack
$system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

footer {
  position: absolute;
  bottom: 2vh;

  nav {
    position: relative;
    top: 1vh;

    a {
      margin: 10px;
    }

    .icon {
      fill: rgb(204, 204, 225);
    }
  }
}

// For hiding the label
// ----------------------
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

// Input/button reset
// ---------------------------
.input,
.button {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: normal;
  border: none;
  outline: none;
  max-width: 100%;
  font-family: $system;
}

// SVG Helpers
// ---------------------------
.fill-currentcolor {
  fill: currentcolor;
}

.fill-none {
  fill: none;
}

// Icon
// ---------------------------
.icon {
  width: 32px;
  height: 32px;
  transition: 0.3s ease-out;

  @media (min-width: $breakpoint) {
    width: 32px;
    height: 32px;
  }
}

// Button
// ---------------------------
.button {
  cursor: pointer;
  color: $primary;
  transition: 0.3s ease-out;

  &:hover,
  &:focus {
    transform: scale(1.125);

    .icon {
      transform: scale(1.25);
    }
  }
}

// Button (open)
// ---------------------------
.button-open {
  // Display/alignment
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  // Sizing
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #cccce1;

  &:hover,
  &:focus {
    box-shadow: 0 2px 2px rgba($background-3, 0.4),
      0 4px 4px rgba($background-3, 0.3), 0 12px 32px rgba($background-3, 0.3);
  }
}

// Button (close)
// ---------------------------
.button-close {
  position: absolute;
  top: 7.5vw;
  right: 7.5vw;
  padding: 0;
  background-color: transparent;
}

.button-search {
  position: relative;
  z-index: 2;
  top: -10vh;
  right: -78vw;
  background-color: transparent;
  cursor: pointer;
  padding: 25px 16px 21px;

  // Same horizontal padding .input-search
  @media (min-width: $breakpoint) {
    padding: 30px ($base-px * 6);
  }
}

// Search
// ---------------------------
.form-search {
  position: relative;
  width: 100%;
  left: 1vw;
  top: 10vh;

  @media (min-width: $breakpoint) {
    max-width: 720px;
  }
}

// Input
// ---------------------------
.input-search {
  // Sizing
  padding: 26px ($base-px * 2) 25px; // 72px height
  width: 100%;

  // Style
  font-size: 25px;
  font-weight: 600;
  color: black;
  background-color: inherit;

  @media (min-width: $breakpoint) {
    // Sizing
    padding: 29px ($base-px * 6);

    // Style
    font-size: 32px;
    border-radius: 30em;
  }
}

.input-search::placeholder {
  color: grey;
}
.search-symbol {
    position: relative;
    color: grey;
}

#search-results {
  top: 24vh;
  position: absolute;
  text-align: start;
  padding-right: 6vw;
  padding-left: 6vw;
}
// Overlay
// ---------------------------
.overlay {
  // Display
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-end;

  // Positioning
  position: fixed;
  z-index: 3;
  left: 0;
  width: 100%;
  height: 100%;

  // Style
  background-image: linear-gradient(to top, #f7fbfb, #cccce1);

  @media (min-width: $breakpoint) {
    align-items: center;
    align-content: center;
  }
}

// Transition
// ----------------------
// Initial state
.hiding {
  max-height: 0;
  opacity: 0;
  bottom: 0;

  // This transition happens when the close button is clicked
  // and should be faster than the .showing state
  transition: max-height 0.3s 0.2s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 0.6s ease-out;

  // When hiding inner elements should be invisible too
  .button-search,
  .input-search {
    opacity: 0;
  }

  // Offset the button
  .button-search {
    transform: translate3d(0, 33%, 0);
  }

  // Offset the input more
  .input-search {
    transform: translate3d(0, 50%, 0);
  }
}

// Showing state
.showing {
  max-height: 100vh;
  top: 0;

  // This happens when the open button is clicked
  // max-height transition is to appear more subtle
  transition: max-height 0.4s 0.2s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 0.8s ease-out;
}

// Transitions
.button-search {
  transition: 0.4s 0.6s ease-out;
}

.input-search {
  transition: 0.8s 0.3s ease-out;
}
