---
---
@import "shapes";
@import "alignment";

#home-hero {
    @extend %centered;
    background-color: $home-header-primary-color;
    width: 96vw;
    box-shadow: 0px 0px 4px 2px lightgrey;
    z-index: $home-header-z-index;
    
}

#home-hero-logo {
    width: 140px;
    border: dimgrey;
    border-style: solid;
    border-width: 2.5px;
    margin-top: 20px;
}

#home-hero-title {
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Fredericka the Great', cursive;
    font-weight: normal;
}

#home-hero-subtitle {
    font-weight: normal;
    font-size: 1.2em;
    max-width: 85%;
    font-family: 'Laila', serif;
    text-align: center;
    margin-top: 0.2em;
}

.home-social-media-mark {
    width: 48px;
    margin-top: -2px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
}

#linkedIn-Logo {
    margin-top:4px;
}

@import "boton";

#latest-Post {
    text-decoration: none;
    color: black;
}

