---
layout: default
---
<section id="home-hero">
    <picture id="home-picture">
        <a href="{{site.baseurl}}/about.html">
            <img id="home-hero-logo" src="{{site.baseurl}}/assets/img/logo.png" alt="blog logo" class="rounded">
        </a>
    </picture>
    <h1 id="home-hero-title">Ritika Mehta</h1>
    <h2 id="home-hero-subtitle">Hi. I am a software engineer based in Austin, TX</h2>
    <nav>
        <a href="https://www.linkedin.com/in/mehtarit/">LinkedIn</a> |
        <a href="https://github.com/mehtarit">Github</a> |
    </nav>
</section>
<div class="traingle-bottom"></div>

{{ content }}